<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{75} - %msg%n</pattern>
	</encoder>
	</appender>
	
	 <logger name="com.reva" level="DEBUG">
    	<level value="on"/>
    </logger>
    
     <logger name="org.springframework.security.web" level="DEBUG">
    	<level value="on"/>
    </logger>
    
     <logger name="org.springframework.web" level="DEBUG">
    	<level value="on"/>
    </logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>